<config>
    <listeners>
        <tcp-listener>
            <bind-address>{{ hivemq_bind_address }}</bind-address>
            <port>{{ hivemq_port }}</port>
        </tcp-listener>
    </listeners>
    <!-- Add other configurations as needed -->
</config>
